.btn {
  background-color: $yellow;
  font-family: $font;
  color: $black;
  font-weight: $font-weight-bold;
  padding: 1.4rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  cursor: pointer;
}
.btn-long {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.17rem;
  letter-spacing: 0.08rem;
  font-weight: $font-weight-semi-bold;
}

.menu-btn {
  background-color: none;
}
