.star {
  font-size: 1.2rem;
  color: $black;
  &-yellow {
    color: $yellow;
  }
  &-grey {
    color: $grey;
  }
  &-white {
    color: $white;
  }
  &-smaller {
    font-size: 1.15rem;
  }
}

.stars--wrapper {
  display: flex;
  justify-content: left;
  gap: 0.4rem;
  &-small {
    gap: 0.2rem;
  }
}

.bars {
  font-size: 2rem;
  color: $grey;
  &-white {
    color: $white;
  }
}

.arrow {
  font-size: 3rem;
  color: $grey;
  font-weight: 900;
  &-white {
    color: $white;
  }
}

.search {
  font-size: 1.3rem;
  color: $grey;
  font-weight: 900;
}

.close {
  font-size: 3.5rem;
  font-weight: 900;
  color: $grey;
}
