//colors

$yellow: #f1c40e;
$black: #262626;
$grey: #9e9e9e;
$medium-grey: #d4d4d4;
$light-grey: #fbfbfb;
$white: #ffffff;

//fonts
$font: "poppins", sans-serif;

//font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
