@import url("https://use.typekit.net/wfj6cre.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-family: "poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

Link {
  text-decoration: "none";
}

.width-100-percent {
  width: 100%;
}

.wrapper-center-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-flow: column nowrap;
  height: 88vh;
  width: 100%;
  padding: 1.5rem;
  gap: 2rem;
}

.main-padding {
  padding: 4rem;
}

.top-padding-4rem {
  padding-top: 4rem;
}

.top-padding-6rem {
  padding-top: 4rem;
}

.position-sticky {
  position: sticky;
}

.white-color-important {
  color: #ffffff !important;
}

.black-color-important {
  color: #262626 !important;
}

.yellow-color-important {
  color: #f1c40e !important;
}

.grey-color-important {
  color: #9e9e9e !important;
}

.btn {
  background-color: #f1c40e;
  font-family: "poppins", sans-serif;
  color: #262626;
  font-weight: 700;
  padding: 1.4rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.04rem;
}

.btn-long {
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.17rem;
  letter-spacing: 0.08rem;
  font-weight: 600;
}

.menu-btn {
  background-color: none;
}

.classes-details-btn {
  background-color: none;
  border: 0.25rem solid #f1c40e;
  color: #f1c40e;
  font-weight: 600;
  padding: 1.1rem 2.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.star {
  font-size: 1.2rem;
  color: #262626;
}
.star-yellow {
  color: #f1c40e;
}
.star-grey {
  color: #9e9e9e;
}
.star-white {
  color: #ffffff;
}
.star-smaller {
  font-size: 1.15rem;
}

.stars--wrapper {
  display: flex;
  justify-content: left;
  gap: 0.4rem;
}
.stars--wrapper-small {
  gap: 0.2rem;
}

.bars {
  font-size: 2rem;
  color: #9e9e9e;
}
.bars-white {
  color: #ffffff;
}

.arrow {
  font-size: 3rem;
  color: #9e9e9e;
  font-weight: 900;
}
.arrow-white {
  color: #ffffff;
}

.search {
  font-size: 1.3rem;
  color: #9e9e9e;
  font-weight: 900;
}

.close {
  font-size: 3.5rem;
  font-weight: 900;
  color: #9e9e9e;
}

.heading2 {
  color: #f1c40e;
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 2rem;
}

.heading3 {
  color: #262626;
  font-size: 1.8rem;
  font-weight: 400;
}

.heading4 {
  color: #262626;
  font-size: 1.6rem;
  font-weight: 700;
}

.heading5 {
  color: #262626;
  font-size: 1.2rem;
  font-weight: 600;
  word-spacing: 0.1rem;
}
.heading5-smaller {
  font-size: 1rem;
}

.sub-heading {
  display: flex;
  flex-flow: row nowrap;
  color: #ffffff;
}
.sub-heading--line {
  font-weight: 700;
  border-top: 0.25rem solid #ffffff;
  width: 1.5rem;
  align-self: center;
  margin-right: 0.6rem;
}
.sub-heading--text {
  font-weight: 700;
  font-size: 1.3rem;
  word-spacing: 0.1rem;
}

.paragraf {
  color: #262626;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.menu--wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.menu--close-icon {
  align-self: flex-end;
}

.menu--ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 4rem;
  align-items: center;
  height: 100vh;
  text-decoration: none;
  margin-top: 7.5rem;
}

.menu--li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-decoration: none;
}

.page-header--wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.page-header--wrapper-title-arrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}

.classes-card {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50vh;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #262626;
}

.classes-card-small {
  border-radius: 30px 30px 0 30px;
  cursor: pointer;
  width: 37vw;
  height: 19vh;
  overflow: hidden;
}

.classes-card--corner-box {
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  border-radius: 0 70px 0 30px;
  background-color: #f1c40e;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  gap: 0.4rem;
}

.classes-card--corner-box-small {
  padding: 0.55rem 1rem 0.55rem 1.3rem;
  gap: 0.2rem;
  border-radius: 0 50px 0 30px;
}

.background-imgs {
  background: url(../../public/images/welcome-background.jpg) left top no-repeat, url(../../public/images/welcome-center.jpg) left bottom no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100% 50%;
  background-blend-mode: luminosity;
}

.welcome--content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 25vh 0 2.5rem 0;
}

.welcome--titles-wrapper {
  display: flex;
  flex-flow: column nowrap;
  z-index: 10;
}

.welcome--img {
  width: auto;
  height: 60rem;
  position: relative;
  left: -30rem;
  top: 0;
  z-index: 0;
}
.welcome--img-wrapper {
  width: 100vw;
  height: 50vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.welcome--img-2 {
  width: 41.5rem;
  height: auto;
  position: relative;
  left: -6rem;
  bottom: -4;
  z-index: 0;
}
.welcome--img-2-wrapper {
  width: 100vw;
  height: 50vh;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.welcome--btn {
  z-index: 10;
}

.classes--bottom-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.classes--small-cards-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 42%;
  gap: 1rem;
  overflow-x: auto;
  position: relative;
  width: 100%;
  height: 100%;
}
.classes--small-cards-container::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=index.css.map */